node_modules
.vscode
!img/compressed/
!img/api/
/dist/*
!/dist/*.php

/Djngo_tst/__pycache__
/Djngo_tst/ui
/Djngo_tst/test

img/*.jpg
img/*.png
img/*.jpeg

img/compressed/*.jpg
img/compressed/*.png
img/compressed/*.jpeg

/*.php
/*.html
/*.css
/*.js

/test


/src/config/*.js