@use "@material/dialog";
@use "@material/icon-button";
@use "@material/ripple";
@use "@material/button";

@import "@material/icon-button/mdc-icon-button";
@import "../color.scss";
@import "../fonts.scss";



#upload-wall-dialog {

    font-family: 'CaskaydiaCove Nerd Font' !important;
    color: $color_accent;
    background-color: $color-dialog-opaque;
    @include dialog.scrim-color($color-dialog-opaque);
    @include dialog.container-fill-color($color_surface);
    @include dialog.shape-radius(10px);
    @include dialog.max-width(1300px, 16px);
    // @include dialog.min-width(600px);

    .mdc-button__ripple {
        @include ripple.states-base-color($color_accent);
    }

    #upload-dialog-close-btn {
        font-size: 20px;
    }

    .mdc-button--raised {
        background-color: $color_on_accent;
        font-family: 'CaskaydiaCove Nerd Font' !important;
        font-weight: bolder !important;
        @include icon-button.ink-color($color_accent);
        @include ripple.surface;
        @include ripple.states;
    }

    
    .mdc-dialog__actions {
        align-self: flex-start;
        padding: 0px;
    }

    .mdc-button__ripple {
        @include ripple.states-base-color($color_accent);
    }

    .mdc-dialog__surface {
        border: 2px dashed $color_accent;
    }

    #select-wall-btn {
        font-family: 'CaskaydiaCove Nerd Font' !important;
        font-weight: bolder !important;
        @include button.ink-color($color_accent);
        @include button.container-fill-color($color_button);
    }

    .upload-wall-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline: 10px;
        padding-bottom: 10px;
    }

    .drag-area:not(.disabled) {
        height: 500px;
        width: 700px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .icon span {
            font-size: 70px;
        }

        .text-disc {
            font-size: 30px;
        }

        span {
            font-size: 25px;
            font-weight: 500;
            margin: 10px 0 15px 0;
        }
    }

    .drag-area.disabled {
        display: none;
    }
}



@media (min-width: 500px) {
    #upload-wall-dialog #upload-form-container:not(.disabled) {
        display: flex;
        margin: 10px;
        justify-content: space-around;

        #upload-img {
            width: 75%;
            border-radius: 5px;
        }
    }
   
}

@media (max-width: 850px) {
    #upload-wall-dialog #upload-form-container:not(.disabled) {
        transition: all 3s ease-in-out;
        display: flex;
        flex-direction: column;
        margin: 5px;
        justify-content: space-around;

        #upload-img {
            width: 100%;
            border-radius: 5px;
        }
    }
}

#upload-wall-dialog #upload-form-container:not(.disabled) {
    transition: all 3s ease-in-out;
    
    form {
        font-family: 'CaskaydiaCove Nerd Font' !important;
        display: flex;
        flex-direction: column;
        align-items: start;

        .form-group {
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: flex-start;
            margin: 10px;

            .form-group label {
                color: $color_text--discription_medium !important;
                justify-self: left;
                margin-bottom: 5px;
                display: block;
            }

            input[type="email"],
            input[type="text"],
            input[type="password"],
            input[type="conf_password"] {
                font-family: 'CaskaydiaCove Nerd Font' !important;
                font-size: large;
                color: $color_accent;
                box-sizing: border-box;
                width: 100%;
                padding: 10px;
                border: 1px solid $color_container;
                border-radius: 5px;
            }
        }

        .form-btn-main {
            align-self: flex-end;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $color_accent;
            color: $color_on_button;
            cursor: pointer;


            &:hover {
                transition: transform .25s ease-out;
                transform: scale3d(1.3, 1.3, 1.3);
            }
        }
    }

}





#drop-area.disabled {
    transition: all 2s ease-in-out;
    display: none;
}


#upload-wall-dialog.dragleave {
    .upload-wall-container {
        transition: all .5s ease-in-out;
    }
}

#upload-wall-dialog.dragover {

    .upload-wall-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: all .5s ease-in-out;
        background-color: $color_on_accent;

        .or {
            display: none;
        }

        .mdc-button {
            display: none;
        }

        .drag-area * {
            pointer-events: none;
        }
    }
}




#upload-form-container.disabled {
    display: none;
}